name: Build Game

on: [push]

jobs:
  windows-build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build for Windows
        run: g++ main.cpp player.cpp maze.cpp room.cpp monster.cpp item.cpp utils.cpp hud.cpp animation.cpp -o SlightlyDangerous.exe
      - uses: actions/upload-artifact@v3
        with:
          name: Windows-Build
          path: SlightlyDangerous.exe

  mac-build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build for Mac
        run: clang++ main.cpp player.cpp maze.cpp room.cpp monster.cpp item.cpp utils.cpp hud.cpp animation.cpp -o SlightlyDangerous
      - name: Package .app
        run: |
          mkdir SlightlyDangerous.app
          mkdir SlightlyDangerous.app/Contents
          mkdir SlightlyDangerous.app/Contents/MacOS
          mv SlightlyDangerous SlightlyDangerous.app/Contents/MacOS/
      - uses: actions/upload-artifact@v3
        with:
          name: Mac-Build
          path: SlightlyDangerous.app
